/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
 article1 {
  margin: 20px 0;
  padding : 20px;
  border : 1px solid black;}

  .style-me1 {color: red;}

  article2 {
  margin: 20px 0;
  padding : 20px 0;
  border : 1px solid black;
  }

  .style-me1 {color: red;}

  article3 {
  margin: 20px 0;
  padding : 20px 0;
  border : 1px solid black;
  }

  .style-me1 {color: red;}

  .center {
  text-align: center;
  font-display: red;
}

.style-me2 {color: blue;}

.style-me1#style-me2{color: purple;}

.my-descendants-arestyled p {background-color: red;}

.my-children-are-styled p {background-color: lightgreen;}


/* Put styles for questions 2.1 and 2.2 here */


/* II. Box model and common properties */
/* Put styles for questions 1-8 here */


/* III. Positioning */
/* Put styles for questions 1-3 here */


/* IV. Styling text */
/* Put styles for questions 1-10 here */


/* V. Styling links */
/* Put styles for questions 1-3 here */


/* VI. calc() */
/* Put styles for questions 1-3 here */
  
   




